<div class="pages-wrap">
  <pages-top></pages-top>
  <div class="pages-body">
    <sidebar></sidebar>
    
    <div class="pages-content">
      <router-outlet></router-outlet>
      <notification></notification>
    </div>
  </div>
</div>
<loading [loading]="false"></loading>
