<div class="row">
    <div class="col-md-4">
        <card cardTitle='New Premium Amount' isCollapse="true">
          <div class="premium_account">
    
            <h4>
              <span class="header col-md-12">New Premium Amount</span>
              ${{policyData.New_Premium}}<span>(</span>{{policyData.Premium_Adjustment}}<span>)</span>
            </h4>
            <h4 class="secondary">
              <span class="header col-md-12">Existing Premium Amount</span>
              <span>${{policyData.New_Premium +  (-policyData.Premium_Adjustment)}}</span>
            </h4>
    
          </div>
        </card>
      </div>
    <div class="col-md-4">
        <card cardTitle='Customer Information (as Provided)' isCollapse="true">
          <div class=" underwriting-score d-flex flex-column">
            <div class="form-group">
             <h4>{{policyData.BUSINESSNAME}}</h4>
            </div>
            <div class="form-group">
              <label>Policy Number:</label>
              <span>{{policyData.BIN}}</span>
            </div>
            <div class="d-flex form-group">
              <label>Insured</label>
              <div class = "d-flex flex-column">
                <span>{{policyData.BUSINESSNAME}}</span>
                <span>{{policyData.BUSINESSADDRESS}}</span>
                <span>{{policyData.BUSINESSCITY}}</span>
                <span>{{policyData.BUSINESSSTATE}}</span>
              </div>
            </div>
            <div class="form-group">
              <label>Policy Term</label>
              <span>6/1/19 - 6/1/2020</span>
            </div>
          </div>
        </card>
      </div>
 
  <div class="col-md-4">
    <card cardTitle='Underwriting Score' isCollapse="true">
      <div class=" underwriting-score d-flex flex-column">
        <div class="form-group">
          <label>Risk Score:</label>
          <span>{{policyData.Equation}}</span>
        </div>
        <div class="form-group">
          <label>Decile Score:</label>
          <span>{{policyData.Decile}}</span>
        </div>
        <div class="form-group">
          <label>Centile Score:</label>
          <span>{{policyData.Centile}}</span>
        </div>
        <div class="form-group">
          <label>Model Indication Deviation:</label>
          <span>{{policyData.Model_Indicated_Deviation}}</span>
        </div>
        <div class="form-group">
          <label>Relative Adjustment Low:</label>
          <span>{{policyData.Relative_Adjustment_Low}}</span>
        </div>
        <div class="form-group">
          <label>Relative Adjustment High:</label>
          <span>{{policyData.Relative_Adjustment_High}}</span>
        </div>
      </div>
    </card>
  </div>
  <div class="col-md-4 slider-card">
      <card cardTitle='Check Your Decile Score' isCollapse="true">
          <ng5-slider [(value)]="value" [options]="options"></ng5-slider>
          <p class = "para">Match the color of slider with below Reference Data table to understand the position of your current Desile Score</p>
      </card>
    </div>
    <div class="col-md-4">
        <card cardTitle='Top Reasons for the Score' isCollapse="true">
          <div class = "action-recomendation d-flex flex-column">
            <div class = "reasons">
              <h4>Top 5 Reasons Messages</h4>
              <ol>
                <li>The demographic characteristics for this risk are less than favorable</li>
                <li>The agency distance for this risk is less than favorable</li>
              </ol>
            </div>
            <div class = "actions">
              <h4>Action Recomendation</h4>
              <ol>
                <li>{{policyData.Action}}</li>
              </ol>
            </div>
          </div>
        </card>
      </div>
  <div class="col-md-4">
      <card cardTitle='Exprain Reference Data' isCollapse="true">
        <div class=" underwriting-score d-flex flex-column">
          <div class="form-group">
            <label>BIN#:</label>
            <span>{{policyData.BIN}}</span>
          </div>
          <div class="form-group">
            <label>Morgages(count):</label>
            <span>{{policyData.MORTGAGES_IND}}</span>
          </div>
          <div class="form-group">
            <label>Bad Trade Ratio:</label>
            <span>{{policyData.BAD_TRADES_RATIO}}</span>
          </div>
          <div class="form-group">
            <label>Employee Count:</label>
            <span>{{policyData.NUM_EMP}}</span>
          </div>
          <div class="form-group">
            <label>Years in Business:</label>
            <span>{{policyData.YEARS_IN_FILE}}</span>
          </div>
        </div>
      </card>
    </div>
  <div class="col-md-12">
      <card cardTitle="Reference Data for Score">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Entile Low
                </th>
              <th>Centile High</th>
              <th>Decile</th>
              <th>Model Indicated Deviation</th>
              <th>Relative Adjustment Low</th>
              <th>Relative Adjustment High</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of EntileDate;let index = index">
              <td>{{item.entile_Low}}</td>
              <td>{{item.Centile_High}}</td>
              <td>{{item.Decile_Model}}</td>
              <td [ngStyle]="{'background-color':item.color}">{{item.Indicated_Deviation}}</td>
              <td>{{item.Relative_Adjustment_Low}}</td>
              <td>{{item.Relative_Adjustment_High}}</td>
            </tr>
          </tbody>
        </table>
      </card>
    </div>
</div>