<div class="row">
  <div class="col-md-12">
    <card cardTitle="Policy Renewal Application">
      <form [formGroup]="renewalForm" (ngSubmit)="onSubmit(renewalForm)" class="form-group">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Customer Information</h3>
          </div>
          <div class="panel-body">
            <div class = "col-md-6 form-group">
                <label class="control-label">Business Name</label>
                <input type="text" class="form-control"  formControlName="BUSINESSNAME" placeholder="Business name of the consumer">
            </div>
            <div class = "col-md-6 form-group">
                <label class="control-label">Number of Branches/Location</label>
                <input type="text" class="form-control"  formControlName="NUMBER_OF_BRANCHES" placeholder="No of Branches and Locations">
            </div>
            <div class = "col-md-6 form-group">
                <label class="control-label">Number of Buildings</label>
                <input type="text" class="form-control"  formControlName="NUMBER_OF_BUILDINGS" placeholder="Number of Buildings">
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Business Address</h3>
          </div>
          <div class="panel-body">
              <div class = "col-md-12 form-group">
                  <label class="control-label">Business Address</label>
                  <textarea class="form-control"  formControlName="BUSINESSADDRESS" placeholder="Business Addres"></textarea>
              </div>
              <div class = "col-md-6 form-group">
                  <label class="control-label">Business City</label>
                  <input type="text" class="form-control"  formControlName="BUSINESSCITY" placeholder="Business City">
              </div>
              <div class = "col-md-6 form-group">
                  <label class="control-label">Business State</label>
                  <input type="text" class="form-control"  formControlName="BUSINESSSTATE" placeholder="Business State">
              </div>
              <div class = "col-md-6 form-group">
                  <label class="control-label">Zip code</label>
                  <input type="text" class="form-control"  formControlName="ZipCode" placeholder="Zip Code">
              </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Business Type</h3>
          </div>
          <div class="panel-body">
              <div class = "col-md-6 form-group">
                  <label class="control-label">SIC code</label>
                  <input type="text" class="form-control"  formControlName="SICCode" placeholder="Sic Code">
              </div>
              <div class = "col-md-6 form-group">
                  <label class="control-label">Class code of Business</label>
                  <input type="text" class="form-control"  formControlName="CLASS_CODE_OF_BUSINESS" placeholder="Class code of Business">
              </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Current Policy Information</h3>
          </div>
          <div class="panel-body">
              <div class = "col-md-6 form-group">
                  <label class="control-label">Current Base Premium Account</label>
                  <input type="text" class="form-control"  formControlName="CURRENT_BASE_PREMIUM_AMOUNT" placeholder="Current Base Premium Account">
              </div>
          </div>
        </div>
        <button  type="submit" class="btn btn-primary">Save</button>
        <button class="btn btn-default">Cancel</button>
      </form>
    </card>
  </div>
</div>