<div class="pages-sider" [ngClass]="{'side-collapsed':!sidebarToggle}">
  <span class="sidebar-top-line"></span>
  <du-menu [menuInfo]="menuInfo"></du-menu>
  <a class="navbar-brand" href="#">
      <img src="../../../../assets/images/images.png" width="30" height="30" class="d-inline-block align-top" alt="">
      <span>XYZ Insurance Company</span>
    </a>
</div>

