.ng5-slider .ng5-slider-bar {
    height: 53px !important;
}

.ng5-slider .ng5-slider-pointer {
    top: 11px !important;
}
.slider-card {
    .card-content {
        overflow: hidden !important;
    }
}