@import '../mixin';
$default-text:14px;
$sm-text:12px;
$lg-text:16px;
$body-bg:#fff;
$sidebar-bg: #0f0b0b ;
$sidebar-fonts-color:#fff;
$card-bg:#fff;
$card-border:transparent;
$white:#fff;
$black:#000;
$border-color:#e6e6e6;
$table-border-color:#e6e6e6;
$fonts-color:#26253c;
$primary:#86bc24;
$success:#29bdb6;
$danger:#fa5167;
$warning:#fc6a60;
$info:#2cc3ff;
body {
    background: $body-bg;
}

.bg-default {
    @include linear-gradient(to top right, darken($card-bg, 40%), darken($card-bg, 30%));
}

.bg-primary {
    @include linear-gradient(to top right, $primary, #86bc24);
}

.bg-success {
    @include linear-gradient(to top right, $success, #42e697);
}

.bg-danger {
    @include linear-gradient(to top right, $danger, #fda09c);
}

.bg-warning {
    @include linear-gradient(to top right, $warning, #fca063);
}

.bg-info {
    @include linear-gradient(to top right, $info, #15f8bf);
}